/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 1em;
}

/* Body and Header */
body {
    background: #F4F5F7;
    color: #172B4D;
}

/* header */
/* header {
    background: #0052CC;
    padding: 20px;
} */


/* Main Section */
main {
    margin: auto;
    max-width: 800px;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

/* Item List */
#itemlist {
    list-style-type: none;
}

#itemlist li {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #D6DADC;
    border-radius: 5px;
}

#itemlist .item-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item-body div {
    color: #3b3c3d;
}

.item-body div span {
    font-weight: bold;
    color: #172B4D;
}

.item-header button {
    margin-left: 8px;
}

.item-header button,
#closeEditFormBtn,
#closeAddFormBtn {
    background: #FFFFFF;
    color: #0052CC;
    border: 1px solid #0052CC;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


#closeEditFormBtn:hover,
#closeAddFormBtn:hover {
    background: #DFE1E6;
    color: 0052CC;
}


#itemlist .item-name,
#itemlist .item-time,
#itemlist .item-goal {
    margin: 10px 0;
}

#itemlist button {
    background: #FFFFFF;
    color: #0052CC;
    border: 1px solid #0052CC;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#itemlist button:hover {
    background: #DFE1E6;
}

/* Forms */

.form-row {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.form-row label {
    margin-bottom: 10px;
    margin-right: 20px;
}


.form-row input[type="text"],
.form-row select {
    padding: 10px;
    border: 1px solid #D6DADC;
    border-radius: 5px;
    width: 100%;
}

.form-row input[type="number"] {
    gap: 10px;
    padding: 10px;
    border: 1px solid #D6DADC;
    border-radius: 5px;
    width: 17%;
    margin-right: 10px;
    margin-left: 10px;
}

.form-row input[type="submit"] {
    background: #0052CC;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.form-row input[type="submit"]:hover {
    background: #0065FF;
}

/* Footer */

footer {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 10em;
    max-width: 800px;
}

footer button {
    background: #0052CC;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer button:hover {
    background: #0065FF;
}


/* Pop-up Form */
#add-form-section,
#edit-form-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
}

#itemform,
#editform {
    background: #fff;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

h1 {
    font-size: 24px;
}


/* Banner */
#header {
    position: relative;
    height: 60px;
    overflow: hidden;
}

#headerImg {
    height: 60px;
    width: 100%;
    object-fit: cover;
}

#header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 255, 0.2); /* Adjust the blue overlay here */
}



